[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:ilkimo/kickstart.nvim.git
[submodule "polybar/polybar-themes"]
	path = polybar/polybar-themes
	url = git@github.com:ilkimo/polybar-themes.git
[submodule "BigBagKbdTrixXKB"]
	path = BigBagKbdTrixXKB
	url = git@github.com:ilkimo/BigBagKbdTrixXKB.git
[submodule "terminal-stuff/shells/zsh/powerlevel10k"]
	path = terminal-stuff/shells/zsh/powerlevel10k
	url = git@github.com:ilkimo/powerlevel10k.git
[submodule "terminal-stuff/shells/zsh/ohmyzsh"]
	path = terminal-stuff/shells/zsh/ohmyzsh
	url = git@github.com:ilkimo/ohmyzsh.git
[submodule "provisioning/ansible-kubernetes-installer"]
	path = provisioning/ansible-kubernetes-installer
	url = git@github.com:ilkimo/ansible-kubernetes-installer.git
